@borderRadius: 0.2em;
@elementPadding: 0.5em;

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

#content {
  text-align: center;
}

.avatars {
  text-align: center;
  background-color: fadeout(#CFCFCF, 70%);
  padding: @elementPadding 0;
  margin: 2em 0 0 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  ul {
    margin: 0;
    padding: 0;

    .avatar {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;

      & + .avatar {
        margin-left: 50px;
      }

      img {
        width: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
        display: block;
        border: 5px solid black;
      }
    }
  }
}

input {
  font-size: 1.5em;
  padding: @elementPadding;
  border: 1px solid #CFCFCF;

  &:first-of-type {
    border-right: none;
    border-radius: @borderRadius 0 0 @borderRadius;
  }

  &:last-of-type {
    border-left: none;
    border-radius: 0 @borderRadius @borderRadius 0;
  }

  & + input {
    border-right: none;
    border-radius: 0;
  }

  &.error {
    color: #D60000;
  }
}
